<!-- home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
    <title>Farmcrowdy Foods</title>
    <link rel="stylesheet" type="text/css" href="./css/cart.css" />
</head>
<body>
    <%- include('./partials/navbar'); -%>

    <div class="container container--lg">

        <div class="cart-breadcrumbs breadcrumbs">
            <a href="/">Home</a>
            <span class="fas fa-chevron-right"></span>
            <span>Shopping Cart</span>
        </div>

        <div class="cart-container">
            <h3 class="cart-container__title">Shopping Basket</h3>

            <div class="cart-content">
                <div class="cart-content__left">
                    <%- include('./partials/cart-card'); -%>
                    <%- include('./partials/cart-card'); -%>
                    <%- include('./partials/cart-coupon'); -%>
                </div>
                <div class="cart-content__right">
                    <%- include('./partials/cart-price'); -%>
                </div>
            </div>
            
        </div>
    </div>

    <%- include('./partials/footer'); -%>
</body>
</html>