<!-- home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
    <title>Farmcrowdy Foods</title>
    <link rel="stylesheet" type="text/css" href="./css/category.css" />
</head>
<body>
    <%- include('./partials/navbar'); -%>

    <div class="container category-container">
        <div class="category-image">
            <img src="./assets/img/category.png" />
        </div>
        <div class="category-top">
            <div>
                <h3 class="category-title">Meat</h3>
                <div class="breadcrumbs">
                    <a href="/">Home</a>
                    <span class="fas fa-chevron-right"></span>
                    <span>Meat</span>
                </div>
            </div>
            <div class="category-filter">
                <p>Filter by price</p>
                <input type="number" placeholder="₦0" />
                <span>&mdash;</span>
                <input type="number" placeholder="₦15,000.00" />
            </div>
        </div>
        <%- include('./partials/category-product-list'); -%>
        </div>

    <%- include('./partials/footer'); -%>
</body>
</html>