<!-- home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
    <title>Farmcrowdy Foods</title>
    <link rel="stylesheet" type="text/css" href="./css/checkout.css" />
</head>
<body>
    <%- include('./partials/navbar'); -%>

    <div class="container container--lg">

        <div class="checkout-breadcrumbs breadcrumbs">
            <a href="/">Home</a>
            <span class="fas fa-chevron-right"></span>
            <a href="/cart">Shopping Cart</a>
            <span class="fas fa-chevron-right"></span>
            <span>Checkout</span>
        </div>

        <div class="checkout-container">
            <h3 class="checkout-container__title">Checkout</h3>
            <form>
                <div class="checkout-content">
                    <div class="checkout-content__left">
                        <p class="checkout-content__title">Delivery Location</p>
                        
                        <%- include('./partials/checkout-form'); -%>
                        
                        <p class="checkout-content__title top-margin">Delivery Timeline</p>

                        <div class="checkout-timeline">
                            <span class="active fas fa-dot-circle"></span>
                            <div class="checkout-timeline__details">
                                <span class="checkout-timeline__name">Standard Shipping</span>
                                <span>Delivery arrives in 2 working days</span>
                                <span>N1,500.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-content__right">
                        <p class="checkout-content__title border">Order Summary</p>

                        <%- include('./partials/checkout-card'); -%>
                        <%- include('./partials/checkout-card'); -%>
                        
                        <%- include('./partials/checkout-price'); -%>

                        <div class="checkout-privacy">
                            Your personal data will be used to process your order, support 
                            your experience throughout this website, and for other purposes 
                            described in our privacy policy.
                        </div>
                        
                    </div>
                </div>
                
                <button type="submit" class="btn checkout-button">Pay N25,345.01</button>
            </form>
        </div>
    </div>

    <%- include('./partials/footer'); -%>
</body>
</html>