<!-- home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
    <title>Farmcrowdy Foods</title>
    <link rel="stylesheet" href="./css/details.css" />
</head>
<body>
    <%- include('./partials/navbar'); -%>

    <div class="container container--lg details-container">
        <div class="details-image">
            <img src="./assets/img/product.png" />
            <span>sale</span>
        </div>
        <div class="details-content">
            <h2 class="details-content__name padding">
                Product Name
                <%- include('./partials/rating'); -%>
            </h2>
            <p class="details-content__price padding">₦6,900.00</p>
            
            <div class="details-content__picker padding padding--extra">
                <span class="title">Weight</span>
                <div class="picker">
                    <span class="fas fa-chevron-down"></span>
                    <select>
                        <option>2kg</option>
                        <option>4kg</option>
                        <option>5kg</option>
                    </select>
                </div>
            </div>

            <div class="details-content__quantity padding">
                <span class="title">Quantity</span>
                <div class="quantity">
                    <button id="minus-quantity" class="direction">-</button>
                    <button id="quantity-text">1</button>
                    <button id="plus-quantity" class="direction">+</button>
                </div>
            </div>

            <div class="details-content__button padding">
                <button class="btn">
                    <span>Add to Basket</span>
                    <div class="icon-img">
                        <img src="./assets/svg/cart-alt.svg" />
                    </div>
                </button>
            </div>

            <div class="details-content__description padding">
                <span class="title">Product Description</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper
                    tortor morbi risus. Tincidunt vulputate nisl nunc vitae placerat mauris
                    luctus tempus purus. Tellus ullamcorper blandit integer sed. Quis arcu
                    imperdiet eget iaculis nisi. Quis cras in eu nulla. Maecenas duis turpis
                    feugiat semper ornare et. Eu, non elementum fermentum, condimentum
                    leo cras viverra ullamcorper. Faucibus platea egestas viverra eget. Nulla
                    massa etiam lectus consequat malesuada aliquet gravida lorem.
                </p>
            </div>
        </div>
    </div>

    <script src="./js/details.js"></script>
    <%- include('./partials/footer'); -%>
</body>
</html>