<!-- home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
    <title>Farmcrowdy Foods</title>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <!-- style for homepage -->
    <link rel="stylesheet" href="./css/index.css" />

    <!-- style for main sidebar (only needed on homepage) -->
    <link rel="stylesheet" href="./css/sidebar.css" />

    <!-- carousel style(should be on all pages with a carousel) -->
    <link rel="stylesheet" href="./css/carousel.css" />

</head>
<body>
    <%- include('./partials/navbar'); -%>
    <div class="container container--hide-md">

        <div class="landing-container">
            <%- include('./partials/sidebar'); -%>
            <div class="pageMain">
                <%- include('./partials/carousel'); -%>
            </div>
        </div>

        <div class="container--show--md">
            <%- include('./partials/home-section-list'); -%>
            <%- include('./partials/mobile-category'); -%>
            <%- include('./partials/home-product-list'); -%>
            <div class="hr"></div>
            <%- include('./partials/home-product-list'); -%>
            <div class="hr"></div>
            <div class="ads">
                <img src="./assets/img/ads1.png" />
            </div>
            <div class="hr"></div>
            <%- include('./partials/home-product-list'); -%>
            <div class="hr"></div>
            <%- include('./partials/home-product-list'); -%>
            <div class="hr"></div>
            <div class="ads">
                <img src="./assets/img/ads2.png" />
            </div>
        </div>
    </div>

    <%- include('./partials/footer'); -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script src="./js/carousel.js"></script>
</body>
</html>