<!-- home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
    <title>Farmcrowdy Foods</title>
    <link rel="stylesheet" type="text/css" href="./css/auth.css" />
</head>
<body>
    <%- include('./partials/navbar'); -%>
    
        <div class="auth__container">
            <div class="container">
                <h3 class="auth__title">Login</h3>
                <div class="auth__content">
                    <div class="auth__tabs">
                        <a href="/login.html">
                            <div class="auth__tabs__item tab-active">
                                <span class="large">Already have an account?</span>
                                <span class="small" >Login</span>
                            </div>
                        </a>
                        <a href="/register.html">
                            <div class="auth__tabs__item">
                                <span class="large">New to Farmcrowdy Foods?</span>
                                <span class="small">Register</span>
                            </div>
                        </a>
                    </div>

                    <form class="auth__form">
                        <div class="auth__form__item">
                            <input placeholder="Email Address *" type="email" required />
                        </div>
                        
                        <div class="auth__form__item">
                            <input required placeholder="Password *" type="password" />
                        </div>
                        
                        <div class="auth__flex">
                            <div class="auth__form__item">
                                <label class="checkbox">
                                    <input type="checkbox" placeholder="Password *" />
                                    <div class="check"></div>
                                    <span>Remember me</span>
                                </label>
                            </div>
                            <div class="auth__form__item">
                                <div class="auth__forgot">
                                    Forgot Password?
                                </div>
                            </div>
                        </div>

                        <div class="auth__form__item">
                            <button type="submit" class="btn auth__button">Sign In</button>
                        </div>

                        
                        
                    </form>

                </div>
            </div>
        </div>

    <%- include('./partials/footer'); -%>
</body>
</html>