<!-- main carousel on the top of the home page -->
<div>
    <div id="prev">
        <span class="fas fa-chevron-left"></span>
    </div>
    <div id="next">
        <span class="fas fa-chevron-right"></span>
    </div>

    <div class="main-carousel" id="carousel">
        <div class="carousel__image"> 
            <img src="./assets/img/slider1.png" />
            <div class="carousel__div">
                <div>
                    <h1>Need Fresh Meat?</h1>
                    <h3>We have got you covered</h3>
                    <a href="/details.html">
                        <button class="btn btn--lg">Shop Now
                            <span class="fas fa-chevron-right"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel__image"> 
            <img src="./assets/img/slider1.png" />
            <div class="carousel__div">
                <div>
                    <h1>Need Fresh Meat?</h1>
                    <h3>We have got you covered</h3>
                    <a href="/details.html">
                        <button class="btn btn--lg">Shop Now
                            <span class="fas fa-chevron-right"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- end of main carousel -->