<div>
    <div class="cart-price">
        <div class="cart-price__item">
            <p>Subtotal</p>
            <p>N927.00</p>
        </div>
        <div class="cart-price__item">
            <p>Tax</p>
            <p>N927.00</p>
        </div>
        <div class="cart-price__item total">
            <p>Total</p>
            <p>N927.00</p>
        </div>
        <p class="cart-price__note">Shipping cost calculated at Checkout *</p>
    </div>
    <a href="/checkout.html">
        <button class="btn cart-price__button">Proceed to Checkout</button>
    </a>
    <div class="cart-price__extra">
        <a href="/">
            <span class="fas fa-arrow-left"></span>
            <span>Continue Shopping</span>
        </a>
    </div>
</div>