<div class="cart-flex">
    <div class="cart-coupon">
        <form class="cart-coupon__input">
            <p>Coupon code</p>
            <div class="cart-coupon__input__div">
                <input type="text" placeholder="Enter Coupon Code *" required />
                <button type="submit" class="btn">Apply</button>
            </div>
        </form>
        <!-- <div class="cart-coupon__update">
            <button class="btn btn--alt cart-coupon__button">Update</button>
        </div> -->
    </div>
</div>