<div class="cart-card">
    <div class="cart-card__image">
        <img src="./assets/img/product.png" />
    </div>
    <div class="cart-card__body">
        <div class="cart-card__flex">
            <div>
                <p class="cart-card__name">Product Name</p>
                <p class="cart-card__other">Weight: 5kg</p>
            </div>
            <div>
                ₦6,900.00
            </div>
        </div>
        <div class="cart-card__flex cart-card__flex--center">
            <div class="cart-card__picker">
                <div class="picker">
                    <span class="fas fa-chevron-down"></span>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="cart-card__remove">
                <span class="fas fa-times"></span>
                <span>Remove</span>
            </div>
        </div>
    </div>
</div>