<div class="category-product-list">
    <% [1,2,3,4,5, 6, 7, 8, 9, 10].forEach(function(i){ %>
        <div class="product-card-external" >
            <div class="card">
                <div class="card__image">
                    <a href="/details.html">
                        <img class="main-img" src="./assets/img/product.png" />
                        <div class="back">
                            <a href="/details.html">
                                <span class="fas fa-eye"></span>
                            </a>
                            <!-- <span class="fas fa-shopping-bag"></span> -->
                            <div>
                                <img class="icon-img" src="./assets/svg/cart.svg" />
                            </div>
                            <span class="fas fa-heart"></span>
                        </div>
                    </a>
                </div>
                <div class="card__body">
                    <h4 class="card__name">
                        <a href="/details.html">
                            Product names
                        </a>
                    </h4>
                    <p class="card__details">
                        <a href="/details.html">
                            Details
                        </a>
                    </p>
                    <p class="card__price">$6,900.00</p>
                </div>
            </div>
        </div>
    <% }); %>
</div>