<div class="input-group">
    <div class="input-group__flex">
        <div class="item">
            <label>First Name *</label>
            <input type="text" placeholder="First Name" required />
        </div>
        <div class="item">
            <label>Last Name *</label>
            <input type="text" placeholder="Last Name" required />
        </div>
    </div>
</div>

<div class="input-group">
    <div class="item">
        <label>Email Address *</label>
        <input type="email" placeholder="Email Address" required />
    </div>
</div>

<div class="input-group">
    <div class="item">
        <label>Address *</label>
        <input type="text" placeholder="Street Name / Building / Apartment No. / Floor" required />
    </div>
</div>

<div class="input-group">
    <div class="input-group__flex">
        <div class="item">
            <label>State *</label>
            <input type="text" placeholder="State" required />
        </div>
        <div class="item">
            <label>Town / City *</label>
            <input type="text" placeholder="Town / City"  required/>
        </div>
    </div>
</div>

<div class="input-group">
    <div class="item">
        <label>Mobile Phone *</label>
        <input type="text" placeholder="Mobile Phone" required />
    </div>
</div>