<div class="checkout-price">
    <div class="checkout-price__item">
        <p>Subtotal</p>
        <p>N927.00</p>
    </div>
    <div class="checkout-price__item">
        <p>Tax</p>
        <p>N927.00</p>
    </div>
    <div class="checkout-price__item">
        <p>Delivery</p>
        <p>N927.00</p>
    </div>
    <div class="checkout-price__item total">
        <p>Total</p>
        <p>N927.00</p>
    </div>
</div>