<div class="checkout-card">
    <div class="checkout-card__image">
        <img src="./assets/img/product.png" />
    </div>
    <div class="checkout-card__body">
        <div>
            <p class="checkout-card__name">Meat x1</p>
            <p class="checkout-card__other">N1,500.00</p>
        </div>
        <div>
            <p class="checkout-card__other">Weight: 5kg</p>
            <p class="checkout-card__other">Quantity: 1</p>
        </div>
    </div>
</div>