<footer>
    <div class="container">
        <div class="footer__container">

            <div class="footer__content">
                <h2 class="footer__content__title">Want more <strong>fresh</strong> updates?</h2>
                
                <form class="footer__form">
                    <input class="footer__form__input" placeholder="Enter Email *" required />
                    <button class="btn footer__form__button">Subscribe</button>
                </form>

                <div class="footer__section">
                    <div class="footer__image">
                        <div class="">
                            <img src="./assets/svg/logo.svg" alt="logo" />
                        </div>
                        <div class="social">
                            <span class="fab fa-facebook-f"></span>
                            <span class="fab fa-twitter"></span>
                            <span class="fab fa-instagram"></span>
                            <span class="fab fa-youtube"></span>
                        </div>
                    </div>
                    <div class="footer__links">
                        <div >
                            <h4>Need Support?</h4>
                            <p>
                                <a href="#">Contact Us</a>
                            </p>
                            <p>
                                <a href="#">FAQ's</a>
                            </p>
                            <p>
                                <a href="#">Personal shopper</a>
                            </p>
                            <p>
                                <a href="#">Shipping & Returns</a>
                            </p>
                        </div>
                        <div >
                            <h4>Food Store</h4>
                            <p>
                                <a href="#">Meat</a>
                            </p>
                            <p>
                                <a href="#">Seafood</a>
                            </p>
                            <p>
                                <a href="#">Grains</a>
                            </p>
                            <p>
                                <a href="#">Tubers</a>
                            </p>
                            <p>
                                <a href="#">Vegetables and Fruits</a>
                            </p>
                        </div>
                        <div>
                            <h4>About Us</h4>
                            <p>
                                <a href="#">Our Story</a>
                            </p>
                            <p>
                                <a href="#">Career</a>
                            </p>
                            <p>
                                <a href="#">Terms & Conditions</a>
                            </p>
                            <p>
                                <a href="#">Privacy policy</a>
                            </p>
                        </div>
                        <div>
                            <h4>Contact</h4>
                            <p>
                                <a href="tel: +234 800 000 000">+234 800 000 000</a>
                            </p>
                            <p>
                                <a href="tel: +234 800 000 000">+234 800 000 000</a>
                            </p>
                            <p>
                                <a target="_blank" href="mailto:help@farmcrowdyfoods">help@farmcrowdyfoods</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__container__base">
                <p>© <span id="copyright-year"></span> All rights reserved. Farmcrowdy Foods.</p>
                <div  class="footer__container__base__icons">
                    <img src="./assets/svg/mastercard.svg" alt="mastercard" />
                    <img src="./assets/svg/visa.svg" alt="visa" />
                </div>
            </div>
        </div>
    </div>
    <script src="./js/script.js"></script>
</footer>