<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- theme color for phones -->
<meta name="theme-color" content="#ed7f17">

<!-- normalize css  -->
<link rel="stylesheet" href="./css/normalize.css" />

<!-- base css (must be on all pages) -->
<link rel="stylesheet" href="./css/base.css" />

<!-- topbar + navbar styles -->
<link rel="stylesheet" href="./css/navbar.css" />

<!-- style for product card -->
<link rel="stylesheet" href="./css/card.css" />

<!-- style for footer -->
<link rel="stylesheet" href="./css/footer.css" />

<!-- font awesome css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />