<!-- Product card on the second row of the homepage -->

<div class="horizontal-flex ">
    <div class="sidebar-card-external" >
        <div class="card sidebar-card sidebar-card__small">
            <div class="card__favorite">
                <span class="fas fa-heart"></span>
            </div>
            <img class="img img--large" src="./assets/img/sidebar-image.png" />
            <div class="card__body">
            <h4 class="card__name">Yanga Special</h4>
            <h4 class="card__price">N6,900</h4>
            <div class="card__base">
                <button class="btn">Shop Now</button>
                <%- include('./rating'); -%>
            </div>
        </div>
        </div>
    </div>

    <!-- this is a carousel for meat -->
    <div class="product-carousel-container">
        <h2 class="title">
            <a href="/category.html">
                Meats
            </a>
        </h2>
        <div class="product-carousel">
            <%- include('./product-card'); -%>
            <%- include('./product-card'); -%>
            <%- include('./product-card'); -%>
            <%- include('./product-card'); -%>
            <%- include('./product-card'); -%>
        </div>
    </div>
    <!-- end of meat carousel -->
</div>

<!-- end of product card -->