<div class="horizontal-flex horizontal-flex--hide-md">
    <div class="sidebar-card-external">
        <div class="sidebar-card">
            <a href="#">
                <img class="img" src="./assets/img/woman.png" />
                <button class="img__button" >
                    View more
                </button>
            </a>
        </div>
    </div>

    
    <div class="section-flex">
    <div class="section-card-external">
        <div class="card">
            <a href="/category.html">
                <img class="img" src="./assets/img/section1.png" />
                <div class="card__overview">
                    <div>
                        <h3>Beef</h3>
                        <p>Shop Now
                            <span class="fas fa-chevron-right"></span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="section-card-external">
        <div class="card">
            <a href="/category.html" >
                <img class="img" src="./assets/img/section2.png" />
                <div class="card__overview">
                    <div>
                        <h3>Beef</h3>
                        <p>Shop Now
                            <span class="fas fa-chevron-right"></span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="section-card-external">
        <div class="card">
            <a href="/category.html" >
                <img class="img" src="./assets/img/section2.png" />
                <div class="card__overview">
                    <div>
                        <h3>Beef</h3>
                        <p>Shop Now
                            <span class="fas fa-chevron-right"></span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>