<div class="mobile-category">
    <p>Quick Links</p>
    <div class="mobile-flex">
        <div class="mobile-category__card">
            <img src="./assets/img/section2.png" />
            <div>
                <a href='/category.html'>Meat</a>
            </div>
        </div>
        <div class="mobile-category__card">
            <img src="./assets/img/section2.png" />
            <div>
                <a href='/category.html'>Meat</a>
            </div>
        </div>
        <div class="mobile-category__card">
            <img src="./assets/img/section2.png" />
            <div>
                <a href='/category.html'>Meat</a>
            </div>
        </div>
        <div class="mobile-category__card">
            <img src="./assets/img/section2.png" />
            <div>
                <a href='/category.html'>Meat</a>
            </div>
        </div>
    </div>
</div>