<!-- everything on the page top-- topbar and navbar -->

<div class="main-nav">

    <!-- start of topbar (contains support, faq, contact and some icons) -->
    <div class="topbar">
        <div class="topbar__links">
            <div class="topbar__links__item">
                <a href="/">Shipping</a>
            </div>
            <div class="topbar__links__item">
                <a href="/">FAQ</a>
            </div>
            <div class="topbar__links__item">
                <a href="/">Contact</a>
            </div>
        </div>
        <div class="topbar__icon">
            <a href='/'>
                <span class="fab fa-facebook-f"></span>
            </a>
            <a href='/'>
                <span class="fab fa-twitter"></span>
            </a>
            <a href='/'>
                <span class="fab fa-instagram"></span>
            </a>
        </div>
    </div>

    <!-- end of topbar -->
    
    <!-- start of main navbar -->
    <div class="navbar-container">
        <div class="container">
            <div class="navbar">
                <div class="navbar__label">
                        <a href="/">
                            <img src="./assets/svg/logo.svg"/>
                        </a>
                    <div class="navbar__toggler" id="navbar__toggler">
                        <span class="fas fa-bars "></span>
                    </div>
                </div>
        
                <div class="navbar__nav" id="navbar__nav">
                    <div class="flex">
                        <span class="navbar__nav__item active-navbar">
                            <a href="/">Home</a>
                        </span>
                        <span class="navbar__nav__item">
                            <a href="/store">Store</a>
                        </span>
                        <span class="navbar__nav__item">
                            <a href="/about">About</a>
                        </span>
                        <span class="navbar__nav__item">
                            <a href="/on-save">On Sale</a>
                        </span>
                    </div>
                    <div class="flex flex--1">
                        <form class="navbar__form">
                            <input class="searchbar" placeholder="What are you getting today?" required />
                            <button>
                                <img src="./assets/svg/search.svg" />
                            </button>
                        </form>
                    </div>
                    <div class="navbar__icon"> 
                        <div class="navbar__icon__item">
                            <a href="/login.html">
                                <img src="./assets/svg/user.svg" />
                            </a>
                        </div>
                        <div class="navbar__icon__item">
                            <a href="/cart.html">
                                <img src="./assets/svg/cart.svg" />
                                <div class="badge">
                                    <span>2</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of navbar -->
</div>

<!-- end of all bars -->