<div class="product-card-external" >
    <!-- style="width: 20%;" -->
    <div class="card">
        <a href="/details.html">
            <div class="card__image">
                <img src="./assets/img/product.png" />
            </div>
            <!-- <img class="card__img" src="./assets/img/product.png" /> -->
        </a>
        <div class="card__body no-hor-padding">
        <a href="/details.html">
            <h4 class="card__name">Product name</h4>
        </a>
        <p class="card__details">
            <a href="/details.html">
                Details
            </a>
        </p>
        <p class="card__price">$6,900.00</p>
        <button class="btn">Add to basket</button>
        </div>
    </div>
</div>