<div class="star-rating">
    <span class="fas fa-star active"></span>
    <span class="fas fa-star active"></span>
    <span class="fas fa-star active"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
</div>