<div class="horizontal-flex horizontal-flex--hide-md">
    <div class="sidebar-card-external">
        <div class="sidebar-card">
            <a href="#">
                <img class="img" src="./assets/img/woman.png" />
                <button class="img__button" >
                    View more
                </button>
            </a>
        </div>
    </div>

    
    <div class="section-flex">
    <div class="section-card-external">
        <div class="card card--no-padding">
            <a href="#">
                <img class="img" src="./assets/img/beef.png" />
            </a>
        </div>
    </div>
    <div class="section-card-external">
        <div class="card">
            <a href="#" >
            <img class="img" src="./assets/img/tomato.png" />
        </a>
        </div>
    </div>
    <div class="section-card-external">
        <div class="card">
            <a href="#" >
            <img class="img" src="./assets/img/beef.png" />
        </a>
        </div>
    </div>
</div>
</div>