<!-- start of main sicebar at the side of the homepage (contains list of categories) -->
<nav class="sidebar">
    <a href="/category.html">
        <div class="sidebar__item">
            Meat
        </div>
    </a>
    <a href="/category.html">
    <div class="sidebar__item">
        Seafood
    </div>
    </a>
    <a href="/category.html">
        <div class="sidebar__item">
            Grains
        </div>
    </a>
    <a href="/category.html">
        <div class="sidebar__item">
            Tubers
        </div>
    </a>
    <a href="/category.html">
        <div class="sidebar__item">
            Vegetables and Fruits
        </div>
    </a>
</nav>

<!-- end of main sidebar -->