@import "./variables";

.auth {
  &__container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    // background-color: #fff;
    text-align: center;
    // padding-bottom: 2rem;
    padding-bottom: 10rem;
    padding-top: 2.5rem;

    @media (max-width: 768px) {
      padding-top: 1rem;
    }
  }

  &__title {
    margin: 0;
    color: #111;
    margin: 2.5rem 0;
    font-size: 25px;
    font-weight: normal;
    font-family: $headerFont;
  }

  &__content {
    background: #ffffff;
    width: 39rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__forgot {
    color: #767676;
    font-size: 13.5px;
    line-height: 25px;
  }

  &__form {
    padding: 1rem 3rem;
    text-align: left;

    @media (max-width: 768px) {
      padding: 1.5rem;
    }

    &__item {
      margin: 1.4rem 0;

      &__half {
        width: 48%;

        @media (max-width: 768px) {
          margin-bottom: 1.3rem;
          width: 100%;
        }
      }
    }

    .checkbox {
      cursor: pointer;
      color: #4b4b4b;
      font-size: 14px;

      .check {
        width: 15px;
        height: 15px;
        display: inline-block;
        background-color: 2px solid #e2e2e2;
        border: 2px solid #e2e2e2;
        margin-right: 5px;
        transition: 0.2s;
        // border-radius: 50%;
      }

      input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.check {
          background-color: $primary;
        }
      }
    }
  }

  &__button {
    border-radius: 0;
    border: 0;
    padding: 1rem 2rem;
    width: 150px;
    font-size: 15px;
    // font-weight: 600;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__tabs {
    .tab-active {
      border-bottom: 3px solid #adbb15;
      background: linear-gradient(0deg,
          rgba(173, 187, 21, 0.06),
          rgba(173, 187, 21, 0.06));
      color: #111111;
    }

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;

    a {
      width: 50%;
    }

    &__item {
      font-size: 15px;
      width: 100%;
      text-align: center;
      padding: 1.3rem 0;
      color: #a9b2b2;
      cursor: pointer;

      .small {
        display: none;

        @media (max-width: 768px) {
          display: block;
        }
      }

      .large {
        display: block;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}