@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Convergence&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #fff;
  font-family: $normalFont;

  a {
    text-decoration: none;
    color: inherit;
  }
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 3rem;

  &--lg {
    margin: 0 5rem;
  }

  @media (max-width: 768px) {
    margin: 0 1rem;
  }

  &--hide-md {
    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &--show--md {
    @media (max-width: 768px) {
      margin: 0 1rem;
    }
  }
}

::selection {
  background: lighten($color: $primary, $amount: 20%);
  /* WebKit/Blink Browsers */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// custom scrollbar
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #f7f7f7;
  padding: 15px 20px;
  transition: 0.2s ease-in-out;
  border-radius: 2px;
  width: 100%;
  color: #4b4b4b;
  font-size: 14px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 1.5px $primary;
  }
}

.breadcrumbs {
  color: #919191;

  * {
    margin-right: 10px;
  }

  .fas {
    font-size: 10px;
    vertical-align: middle;
  }
}

.picker {
  width: 100%;
  position: relative;

  span {
    position: absolute;
    top: 30%;
    right: 10px;
    color: #767676;
    pointer-events: none;
  }

  select {
    width: 100%;
    padding: 12px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    appearance: none;
    color: #111111;

    &:focus {
      outline: 0;
    }
  }
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: transparent;
}

.btn {
  background-color: $buttonBg;
  border: 0;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 13px;
  border: 0.2px solid #a2a2a2;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: scale(1.03);
  }

  &:focus {
    outline: none;
  }

  &--alt {
    background-color: #fff;
    border: 1px solid #100c03;
    color: #111111;
  }
}

.star-rating {
  font-size: 7px;
}

.active {
  color: $primary;
}

.hr {
  border-bottom: 0.5px solid #ccc;
}

.horizontal-flex {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 1rem 0;
  }

  &--hide-md {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.no-margin {
  margin: 0;
}