@import "./variables";

.section-card-external {
  width: 32%;
  padding: 0;

  @media (max-width: 768px) {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.product-carousel-container {
  flex: 1;
  min-width: 0px;

  @media (max-width: 768px) {
    margin: 0 1rem;
  }

  @media (max-width: 500px) {
    margin: 0;
  }

  .title {
    margin: 0;
    font-family: $headerFont;
    margin: 10px 0;
    font-size: 2rem;
  }
}

.card {
  position: relative;

  a:focus {
    outline: none;
  }

  &__overview {
    position: absolute;
    top: 0;
    left: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    h3 {
      margin: 10px 0;
      font-family: $headerFont;
    }

    p {
      font-size: 14px;
      margin: 0;
    }

    .fas {
      margin-left: 10px;
      font-size: 13px;
    }
  }

  &__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 12px;
    color: #000;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: $primary;
    }
  }

  &__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background-color: transparent;
    transition: 0.2s;

    &:hover {
      transform: scale(1.02);
    }
  }

  &__image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    background-color: transparent;
    transition: 0.2s;
    position: relative;

    @media (max-width: 768px) {
      height: 100px;
    }

    &:hover img {
      transform: scale(1.02);
      opacity: 0.5;
    }

    img {
      width: 100%;
      height: 100%;
      transition: 0.2s ease-in-out;
    }

    &:hover .back {
      opacity: 1;
      pointer-events: visible;
    }

    .back {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.2s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px;
      cursor: default;
      color: #4b4b4b;


      @media (max-width: 768px) {
        display: none;
      }

      span,
      div {
        background-color: #fff;
        margin: 0 10px;
        cursor: pointer;
        padding: 10px;
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 50%;
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-img {
          margin: 0 auto;
          width: 80%;
          height: 80%;
          object-fit: contain;
          opacity: 1;
        }

        &:hover {
          color: $primary;
        }

        @media (max-width: 768px) {
          margin: 0 7px;
        }


      }
    }
  }

  .no-hor-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &__body {
    //
    padding: 0 15px;
    padding-bottom: 1rem;
  }

  &__name {
    margin-top: 15px;
    margin-bottom: 7px;
    color: #000;
    font-family: $headerFont;
    font-weight: 500;
  }

  &__details {
    color: #737373;
    margin: 0;
    font-size: 15px;
  }

  &__price {
    font-family: $headerFont;
    color: $primary;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
  }
}

.product-card-external {
  padding: 0 5px;
  cursor: pointer;

  .product-card {
    .img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      background-color: transparent;
      transition: 0.2s;

      &:hover {
        transform: scale(1.02);
      }
    }

    &__body {
      //
    }

    &__name {
      margin-top: 15px;
      margin-bottom: 7px;
      color: #000;
      font-family: $headerFont;
      font-weight: 500;
    }

    &__details {
      color: #737373;
      margin: 0;
      font-size: 15px;
    }

    &__price {
      font-family: $headerFont;
      color: $primary;
      margin: 10px 0;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.card__base {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .star-rating {
    align-self: flex-end;
  }
}