@import "./variables";

.slick-slide {
  &:focus {
    outline: 0;
  }
}

.main-carousel .slick-slide img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: center;

  @media (max-width: 768px) {
    height: 230px;
  }
}

.carousel__image {
  position: relative;

  img {
    // opacity: 0.9;
  }
}

.carousel__div {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 8%;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;

  @media(max-width: 768px) {
    left: 10%;
  }

  button {
    margin-top: 1rem;
    padding: 20px 40px;
    font-size: 16px;

    .fas {
      margin-left: 10px;
    }

    @media(max-width: 768px) {
      padding: 10px 20px;
    }
  }

  h1 {
    color: $headerFont;
    font-size: 3.5rem;
    color: #293737;
    margin: 0;
    margin: 10px 0;

    @media(max-width: 768px) {
      font-size: 1.8rem;
    }
  }

  h3 {
    margin: 0;
    color: #293737;
    margin: 10px 0;
  }

  button {
    background-color: $primary;
    border: 0;
    border-radius: 0;
  }
}

// .product-carousel .slick-slide img {
//   // height: 150px;
// }

// .product-carousel .slick-next,
// .product-carousel .slick-prev {
//   // top: 200px !important;
// }

.slick-prev:before,
.slick-next:before {
  color: #000 !important;
  background-color: transparent;
  border-radius: 0;
  padding: 20px;
}

.slick-next:before {
  content: "\203A" !important;
  font-size: 35px !important;
}

.slick-prev:before {
  content: "\2039" !important;
  font-size: 35px !important;
}

.product-carousel .slick-prev {
  left: -40px !important;
  z-index: 10;
  top: 70px !important;

  @media(max-width: 768px) {
    left: -30px !important;
  }
}

.product-carousel .slick-next {
  top: 70px !important;
  right: -5px !important;
  z-index: 10;

  @media(max-width: 768px) {
    right: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }
}

#prev,
#next {
  z-index: 10;
  background-color: #fff;
  padding: 12px;
  cursor: pointer;
  color: #100c03;

  transition: 0.2s;
  top: 35%;

  &:hover {
    transform: scale(1.02);
    background-color: $primary;
    color: #fff;
  }
}

#prev {
  position: absolute;
  left: 0;
}

#next {
  position: absolute;
  right: 0;
}