@import "./variables";

.cart-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;

  &__title {
    margin: 0;
    color: #111;
    margin: 3rem 0;
    font-size: 25px;
    font-weight: normal;
    font-family: $headerFont;
  }
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__left {
    width: 55%;
  }

  &__right {
    width: 35%;
  }

  &__left,
  &__right {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.cart-breadcrumbs {
  font-size: 13px;
  margin: 2rem 0;
}

.cart-price {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1rem 2rem;

  p {
    margin: 0;
  }

  &__extra {
    color: #111111;
    font-size: 14px;

    .fas {
      margin-right: 10px;
    }
  }

  &__button {
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 20px;
    margin: 1.8rem 0;
    font-size: 15px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #111;
    padding: 1.5rem 0;
    border-bottom: 1px solid #e2e2e2;
  }

  &__note {
    font-size: 14px;
    text-align: center;
    color: #525252;
    padding: 1rem 0;
  }

  .total {
    font-weight: 600;
    font-size: 15px;
  }
}

.cart-card {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #f5f5f5;
  color: #767676;
  font-size: 14px;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__image {
    width: 170px;
    height: 100px;
    margin-right: 2rem;

    @media (max-width: 768px) {
      margin-right: 1rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__remove {
    cursor: pointer;

    .fas {
      margin-right: 10px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    &--center {
      align-items: center;
    }
  }

  &__picker {
    width: 80px;

    select {
      padding: 8px 12px;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    font-family: $headerFont;
    color: #111;
    margin: 0;
    margin-bottom: 10px;
  }

  &__other {
    margin: 0;
    font-size: 15px;
  }
}

.cart-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  &--center {
    align-items: center;
  }
}

.cart-coupon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin: 1rem 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
  }

  &__input {
    &__div {
      display: flex;
      align-self: center;

      button {
        border: 0;
        border-radius: 0;
        padding: 10px 30px;
      }
    }

    input {
      margin-right: 10px;
    }

    p {
      margin: 0;
      padding: 10px 0;
      font-size: 14px;
      font-family: $headerFont;
      color: #111;
    }
  }

  &__button {
    border-radius: 0;
    padding: 15px 30px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__update {
    @media (max-width: 768px) {
      width: 100%;
      margin: 1.5rem 0;
    }
  }
}
