@import "./variables";

.category-container {
  margin-bottom: 1.5rem;
}

.category-top {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.category-filter {
  @media (max-width: 768px) {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
    display: inline-block;
    font-family: $headerFont;
    font-size: 15px;
    font-weight: 300;
    margin-right: 10px;
  }

  input {
    width: 100px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    appearance: none;
    transition: 0.2s;
    border-radius: 2px;

    &:focus {
      outline: 0;
      border: 1px solid $primary;
      box-shadow: 0 0 0 1px $primary;
    }
  }

  span {
    color: #e6e6e6;
  }
}

.category-image {
  width: 100%;
  margin: 1rem 0;

  img {
    width: 100%;
  }
}

.category-title {
  font-weight: 500;
  margin: 1rem 0;
  font-family: $headerFont;
}

.category-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-card-external {
  width: 20%;

  @media (max-width: 768px) {
    width: 50%;
  }
}
