@import "./variables";

.checkout-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;

  &__title {
    margin: 0;
    color: #111;
    margin: 3rem 0;
    font-size: 25px;
    font-weight: normal;
    font-family: $headerFont;
  }
}

.checkout-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .border {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 20px;
  }

  &__title {
    font-family: $headerFont;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    margin-bottom: 2rem;
  }

  .top-margin {
    margin-top: 3rem;
  }

  &__left {
    width: 55%;
  }

  &__right {
    width: 35%;
  }

  &__left,
  &__right {
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.input-group {
  label {
    font-size: 14px;
    display: block;
    color: #111;
    margin: 10px 0;
    font-weight: 500;
  }

  input {
    width: 100%;
  }

  .item {
    margin: 2rem 0;
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .item {
      width: 48%;
      margin: 0;

      @media (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
      }
    }
  }
}

.checkout-card {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #f5f5f5;
  color: #767676;
  font-size: 14px;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    width: 120px;
    height: 100px;
    margin-right: 2rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-size: 17px;
    font-weight: normal;
    color: #111;
    margin: 0;
    margin-bottom: 6px;
  }

  &__other {
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
  }
}

.checkout-price {
  width: 100%;
  background-color: #f5f5f5;
  padding: 1rem 2rem;

  p {
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #111;
    margin: 2rem 0;
  }

  .total {
    font-weight: 600;
    font-size: 15px;
  }
}

.checkout-timeline {
  padding: 1rem;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  color: #111111;

  &__name {
    font-size: 15px;
    font-weight: 500;
    font-family: $headerFont;
  }

  &__details {
    display: flex;
    // flex-direction: column;
    margin-left: 1rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      span {
        margin-bottom: 10px;
      }
    }
  }
}

.checkout-privacy {
  color: #767676;
  margin: 0;
  margin-top: 2rem;
  line-height: 22px;
  font-size: 13px;
}

.checkout-button {
  width: 60%;
  border: 0;
  border-radius: 0;
  padding: 20px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.checkout-breadcrumbs {
  font-size: 13px;
  margin: 2rem 0;
}
