@import "./variables";

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    margin-top: 2rem;
    flex-direction: column;
  }
}

.details-image {
  position: relative;
  width: 45%;

  @media (max-width: 768px) {
    width: 100%;
  }

  img {
    width: 100%;
  }

  span {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: $primary;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
  }
}

.details-content {
  width: 45%;

  @media (max-width: 768px) {
    width: 100%;
  }

  .padding {
    padding: 1rem 0;

    &--extra {
      padding: 2rem 0;
    }
  }

  &__name {
    font-size: 2rem;
    color: #111111;
    font-family: $headerFont;
    font-weight: normal;
    margin: 0;
    border-bottom: 0.1px solid #f1f1f1;

    display: flex;
    align-items: center;

    .star-rating {
      margin-left: 10px;
    }
  }

  &__price {
    margin: 0;
    border-bottom: 0.1px solid #f1f1f1;
    color: $primary;
    font-size: 2rem;
    font-family: $headerFont;
  }

  &__button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;

    button {
      border: 0;
      border-radius: 0;
      width: 200px;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;

      @media (max-width: 768px) {
        width: 100%;
      }

      .icon-img {
        margin-left: 10px;
      }
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: flex-start;

    .title {
      font-family: $headerFont;
      color: #111111;
      width: 120px;
    }

    .quantity {
      display: flex;
      align-items: center;
      width: 100%;

      div,
      button {
        border: 0;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        background-color: #fff;
        width: 40px;
        line-height: 40px;
        text-align: center;

        &:focus {
          outline: 0;
        }
      }

      .direction {
        color: #808080;
        cursor: pointer;
        border: 1px solid #e5e5e5;

        &:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }
  }

  &__description {
    margin-top: 1rem;
    font-size: 15px;

    .title {
      font-family: $headerFont;
      color: #111111;
      width: 120px;
    }

    p {
      color: #767676;
      margin: 0;
      margin-top: 1rem;
      line-height: 25px;
    }
  }

  &__picker {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: flex-start;

    @media (max-width: 768px) {
      width: 100%;
    }

    .title {
      font-family: $headerFont;
      color: #111111;
      width: 120px;
    }
  }
}