@import "./variables";

footer {
  background-image: url("../assets/svg/footerBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

  background-color: #100c03;
  color: #fff;
  // height: 85vh;

  .container {
    height: 100%;
    margin-left: 5rem;
    margin-right: 5rem;

    @media (max-width: 768px) {
      margin: 0 1rem;
    }
  }
}

.footer__container {
  height: 100%;
  width: 100%;
  position: relative;

  text-align: center;

  &__base {
    position: absolute;
    bottom: 4px;
    left: 0;
    color: #767676;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    @media (max-width: 768px) {
      flex-direction: column;
      bottom: 10px;
      font-size: 15px;
    }

    img {
      width: 40px;
    }
  }
}

.footer__content {
  width: 100%;
  padding-top: 4rem;

  &__title {
    color: $primary;
    font-size: 1.5rem;
    font-family: $headerFont;

    strong {
      font-weight: normal;
      font-size: inherit;
      color: $buttonBg;
    }
  }
}

.footer__form {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 50%;
  margin: auto;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }

  &__input {
    width: 100%;
    background: #303030;
    padding: 20px;
    border: 0;
    transition: 0.3s;
    color: #fff;
    width: 100%;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 1.5px #ed7f17;
    }
  }

  &__button {
    margin-left: 1rem;
    border: 0;
    border-radius: 0;
    font-size: 15px;
    padding-left: 2rem;
    padding-right: 2rem;

    @media (max-width: 768px) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}

.footer__section {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;

  @media (max-width: 768px) {
    margin-top: 2rem;
    flex-direction: column;
  }
}

.footer__image {
  width: 25%;

  img {
    width: 60%;
  }

  color: $buttonBg;

  .social {
    margin: 1rem 0;

    * {
      font-size: 18px;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    width: 200px;
    margin-top: 1rem;

    img {
      width: 50%;
    }
  }
}

.footer__links {
  margin-bottom: 8rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  // color: #767676;
  color: #F7F7F7;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  div {
    width: 50%;
  }

  h4 {
    color: #fff;
    font-size: 18px;
    font-family: $headerFont;
  }

  p {
    font-size: 14px;
  }
}