@import "./variables";

.landing-container {
  display: flex;
  margin: 1.3rem 0;

  @media(max-width: 768px) {
    margin: 0;
  }
}

.pageMain {
  flex: 1;
  min-width: 0px;
  position: relative;
}

.ads {
  width: 100%;
  margin: 1rem 0;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.mobile-flex {
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.mobile-category {
  display: none;
  margin: 1rem 0;

  @media (max-width: 768px) {
    display: block;
  }

  .block {
    width: 100%;
  }

  &__card {
    background-color: #fff;
    width: 48%;
    height: 140px;
    margin: 1rem 0;
    border-radius: 3px;
    color: #fff;
    font-family: $headerFont;
    font-size: 18px;
    text-align: center;
    position: relative;

    // background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    //   url("../assets/img/section1.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 500px) {
      height: 100px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(70%)
    }
  }
}