@import "./variables";

.main-nav {
  // position: sticky;
  // top: 0;
  // width: 100%;
  // left: 0;
  z-index: 10;
  background-color: #fff;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.topbar {
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
  padding-right: 1.5rem;

  @media (max-width: 768px) {
    justify-content: space-between;
    padding-right: 0;
    padding-left: 1rem;
  }

  &__links {
    margin-right: 4rem;

    @media (max-width: 768px) {
      margin-right: 0;
    }

    &__item {
      color: #111111;
      margin-right: 1.2rem;
      display: inline-block;
      font-size: 14px;
      font-family: $headerFont;
    }
  }

  &__icon {
    color: #a0a0a0;
    font-size: 13px;

    a {
      margin-right: 15px;
      transition: 0.2s;

      &:hover {
        color: #121212;
      }
    }
  }
}

.navbar-container {
  border-bottom: 1px solid #f1f1f1;

  @media(max-width: 768px) {
    border-bottom: none;
  }
}

.navbar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__icon {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: row;
      margin: 15px 0;
      width: 100%;
    }

    &__item {
      width: 20px;
      margin-left: 20px;
      position: relative;

      @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 20px;
      }

      img {
        width: 100%;
      }
    }
  }

  &__label {
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $sidebar;

    img {
      transition: 0.2s;
    }

    @media (max-width: 992px) {
      img {
        width: 120px;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      transition: 0.2s;

      img {
        width: 100px;
      }
    }
  }

  &__form {
    width: 80%;
    position: relative;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 15px;
    }

    button {
      position: absolute;
      background: #fff;
      border: 0;
      right: 10px;
      top: 25%;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      // position: absolute;
      // top: 0;
      // left: 0;
      // width: 100%;
      // z-index: 100;
      // background-color: #fff;
      transition: 0.5s;
      max-height: 0;
      overflow-y: hidden;
      flex-direction: column;
      width: 100%;
    }

    &__item {
      margin-right: 20px;
      padding: 2px 0;
      font-size: 17px;
      color: #111111;
      font-weight: 500;
      font-family: $headerFont;

      @media (max-width: 768px) {
        margin-right: 0;
        margin-top: 20px;
        // display: inline;
        width: max-content;
      }
    }
  }
}

.navbar__toggler {
  display: none;
  text-align: right;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
    font-size: 23px;
    color: $primary;
  }
}

.active-navbar {
  padding: 2px 0;
  font-size: 17px;
  color: $primary;
  border-bottom: 1.5px solid $primary;
}

.flex {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }

  &--1 {
    flex: 1;
    // min-width: 0px;
  }
}

.searchbar {
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #a2a2a2;
  width: 100%;
  transition: 0.2s;
  margin: 0 auto;

  &:focus {
    outline: none;
    border: 1px solid $primary;
    box-shadow: 0 0 0 1px $primary;
  }
}

.show-navbar {
  @media (max-width: 768px) {
    max-height: 100vh;
    overflow-y: visible;
  }
}

.badge {
  position: absolute;
  top: -40%;
  right: -50%;
  background-color: $primary;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 11px;
}