@import "./variables";

.section-flex {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sidebar-card-external {
  width: 23%;
  padding-right: 1rem;

  @media (max-width: 768px) {
    display: none;
    width: 100%;
    padding-right: 0;
  }

  .sidebar-card {
    position: relative;

    .img--large {
      height: 230px;
    }

    &__small {
      width: 90%;
      background-color: #f9f9f9;
      height: 100%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &__title {
      background-color: red;
    }

    .img {
      &__button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
        background-color: #adbb15;
        color: #fff;
        padding: 5px 10px;
        border: 0.2px solid #a2a2a2;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 13px;

        &:focus {
          outline: 0;
        }
      }
    }
  }
}

.sidebar {
  width: $sidebar;
  padding-right: 2rem;

  .first {
    padding-top: 0;
  }

  @media (max-width: 768px) {
    display: none;
  }

  &__item {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    font-weight: 500;
    font-family: $headerFont;
    transition: 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
      cursor: pointer;
    }
  }
}
